button:focus, a:focus { outline:0; }

.navbar {
    transition: none;
}

.main-container {
    max-width: 950px;
}
@font-face {
    font-family: 'Press Start 2P';
    src: local('Press Start 2P'), url(./fonts/PressStart2P-Regular.ttf) format('woff');
  }
html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

.left-menu{
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

}
.left-menu-item{
    padding-top: 10px;
    width: 100%;
    display: grid;
}
.left-col{
    min-height: 100vh;
    max-width: 50vh;
}
.message .-left{
    align-self: flex-start;
}

.message {
    display: flex;
    margin-top: 2rem;
}
.message-bot{
    text-decoration: none;
    color: black;
    position: fixed;
    bottom:10px;
    left: 10px;
    transition: all 0.5s ease-in;
}
.message-bot:hover{
    color: black;

}

.message-bot.inactive{
    left:-370px;
}
link > div > p{
    color: black;
}
