button:focus, a:focus { outline:0; }

.navbar {
    transition: none;
}

.main-container {
    max-width: 950px;
}
@font-face {
    font-family: 'DotGothic16';
    src: local('DotGothic16'), url(./fonts/DotGothic16-Regular.ttf) format('woff');
  }
html, body, pre, code, kbd, samp {
    font-family: "DotGothic16";
}

