button:focus, a:focus { outline:0; }

.navbar {
    transition: none;
}

.main-container {
    max-width: 950px;
}
@font-face {
    font-family: 'Press Start 2P';
    src: local('Press Start 2P'), url(./fonts/PressStart2P-Regular.ttf) format('woff');
}
@font-face {
    font-family: 'VT323';
    src: local('VT323'), url(./fonts/VT323-Regular.ttf) format('woff');
}
html, body, pre, code, kbd, samp {
    font-family:  'VT323',  'Press Start 2P' !important;
    -webkit-font-smoothing: none !important;
    font-size: 24px !important;
}
.app {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;    
}

.titlebar, .menubar-menu-container .action-label {
    font-size: 1rem !important;
}
.window-title {
    font-size: 1rem !important;
    color: #04a8a8;
}

/* Menu window */
.menubar-menu-container .action-menu-item {
    height: 1rem !important;
}
.menubar-menu-container .action-label:not(.separator), .menubar-menu-container .keybinding {
    padding: 0 30px 0 0 !important;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.left-menu{
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}
.left-col {
    min-height: 100vh;
    max-width: 133px !important;
    background-color: #3a3123;
}
.left-col img {
    width: 100%;
    height: auto;
}
.message {
    align-self: flex-start;
}

.message {
    display: flex;
    margin-top: 2rem;
}
.message-bot{
    text-decoration: none;
    color: black;
    position: fixed;
    bottom:10px;
    left: 10px;
    transition: all 0.5s ease-in;
}
.message-bot:hover{
    text-decoration: none;
    color: black;

}

.message-bot.inactive{
    left:-404px;
}
link > div > p{
    color: black;
}

.btn-center{
    align-self:center;
}
.nes-input{
    margin-bottom: 30px;
}
.nes-select{
    margin-bottom: 30px;
}
.checkbox{
    margin-bottom: 30px;
}
.nes-btn{
    margin-right: 10px;
}
.btn {
    font-size: 1rem;
    padding: 1px 6px 4px 6px !important;
    border-image: none;
    background-color: #504330;
    color: #ab9e7f;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}
.main-btn{
    margin-top: 30px;
}

/*
 * Custom scrollbars
 */

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #5c4f3c; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #352c1e; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #352c1e; 
  }
